@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Аналитические запросы</title>
</head>
<body>

<div class="form-group center">
	<a asp-action="Lab1"  class="form-control btn btn-primary">Лабораторная работа №1</a>
	<a asp-action="Lab3" class="form-control btn btn-primary">Лабораторная работа №3</a>
</div>
</body>
</html>