@{
	Layout = null;
}
<!DOCTYPE HTML>

<html>
<head>
	<meta name="viewport" content="width=display-width"/>
	<title>Аналитические запросы</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
	<style>
		.btns-container {
			margin-top: 19%;
		}

		.labbtn {
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
<div class="text-center btns-container">
	<div class="text-center">
		<a class="btn btn-primary labbtn" asp-action="Lab1">Лабораторная работа №1</a>
	</div>
	<div class="text-center">
		<a class="btn btn-primary labbtn" asp-action="Lab2">Лабораторная работа №2</a>
	</div>
	<div class="text-center">
		<a class="btn btn-primary labbtn" asp-action="Lab3">Лабораторная работа №3</a>
	</div>
</div>
</body>
</html>