@using RequestsVisualizer.Models.Lab2;
@model ReportRequest;

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=display-width" />
	<title>Лабораторная работа №2</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
	<form class="m-2" asp-action="GetReport" method="get">
		<div class="form-group">
			<label>Login</label>
			<input class="form-control" id="login-input" />

			<label>Password</label>
			<input class="form-control" id="password-input" type="password" />

			<a class="btn btn-primary form-btn" id="getToken">Get token</a>
			<br />
			<label>Token</label>
			<input class="form-control" id="tokenOutput" asp-for="Token" />
		</div>
		<div class="form-group">
			<label>Start date</label>
			<input class="form-control" type="date" asp-for="StartDate" />

			<label>End date</label>
			<input class="form-control" type="date" asp-for="EndDate" />

			<label>Course title</label>
			<input class="form-control" asp-for="CourseTitle" />

			<button type="submit" class="btn btn-primary form-btn">Get report</button>
		</div>
	</form>
<script type="text/javascript">
		var getTokenButton = document.getElementById('getToken');
		var tokenOutput = document.getElementById('tokenOutput');

		getTokenButton.addEventListener('click', function (event) {
			event.preventDefault();

			var login = document.getElementById('login-input').value;
			var password = document.getElementById('password-input').value;

			var url = 'http://localhost:1162/api/auth?login=' + login + '&password=' + password;
			console.log(url);
			fetch(url)
				.then(response => {
					if (!response.ok) {
						throw new Error(response.body);
					}
					return response.text();
				})
				.then(data => {
					tokenOutput.value = data;
				})
				.catch(error => {
					tokenOutput.value = error;
				});
		});
</script>
</body>
</html>